<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>New Responsive File Format</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/prettify.css">
    <link rel="stylesheet" href="/static/css/component.css">
</head>
<body data-offset="80">
    <header id="header" class="navbar navbar-fixed-top"></header>
    <section id="body" class="container-fluid"></section>
    <footer id="footer" class=""></footer>
    <script data-main="/static/js/main" src="/static/js/lib/require.js"></script>

    <script>
        ['log', 'warn'].forEach(function(method) {
          var old = console[method];
          console[method] = function() {
            var stack = (new Error()).stack.split(/\n/);
            // Chrome includes a single "Error" line, FF doesn't.
            if (stack[0].indexOf('Error') === 0) {
              stack = stack.slice(1);
            }
            var args = [].slice.apply(arguments).concat([stack[1].trim()]);
            return old.apply(console, args);
          };
        });
    </script>
</body>
    {% extends "layout.html" %}
</html>
