<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-inline">
        <input class="form-control" id="displayWidth" type="number" min=1 max="<%= display_w %>" step=1 value="<%= display_w %>">
        <i class="fa fa-times fa-lg"></i>
        <input class="form-control" id="displayHeight" type="number" min=1 max="<%= display_h %>" step=1 value="<%= display_h %>">
        <a class="btn btn-primary" id="btnSave" data-id="<%= id %>" data-width="<%= display_w %>" data-height="<%= display_h %>" role="button">
            <i class="fa fa-floppy-o fa-lg"></i> Save
        </a>
        <a class="btn btn-default" id="btnRender" data-id="<%= id %>" href="/render/<%= id %>" role="button">
            <i class="fa fa-play fa-lg"></i> Render
        </a>
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-toolbar" role="toolbar">
            <% _.each(versions, function (val, key) { %>
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default" id="btnShowVersion" data-id=<%= val.path %>>
                    <%= val.display_w %><i class="fa fa-times"></i><%= val.display_h %>
                </button>
                <button type="button" class="btn btn-danger" id="btnDeleteVersion" data-id=<%= val.id %>>
                    <i class="fa fa-times-circle"></i>
                </button>
            </div>
            <% }); %>
        </div>
    </div>
</div>

<div class="md-device-wrapper">
    <div class="md-device <%= device %>">
        <div class="display" id="container"></div>
        <div class="md-border-element"></div>
        <div class="md-base-element"></div>
    </div>
</div>

