<div id="resizable" class="md-device-wrapper">
    <div class="md-device md-browser">
        <div class="display" id="container" style="display:inline-block">
            <img id="md-image" src="../files/<%= id%>_layer1.webp">
        </div>
    </div>
</div>
