<div class="md-device-wrapper">
    <div class="md-device md-device-1">
        <div class="display" id="container"></div>
        <!--<a href="#"><img src="/static/img/images/site1.jpg" /></a>-->
        <div class="md-border-element"></div>
        <div class="md-base-element"></div>
    </div>
</div>
