<a target="" href="/edit/<%= filename %>"><%= filename %>
    <img src="../uploads/<%= filename %>" alt="<%= filename %>" height="100" width="100">
</a>

<div class="btn-group btn-group-justified">
    <a class="btn btn-default" role="button" id="btnEditFile">Edit</a>
    
    <input type="submit" class="btn btn-success" id="btnDeleteFile" value="delete">
</div>

