<a target="" href="/edit/<%= id %><%= type %>">
    <img src="../uploads/<%= id %><%= type %>" alt="<%= filename %><%= type %>" height="100" width="100">
</a>

<div class="btn-group btn-group-justified">
    <a class="btn btn-default" id="btnEditFile" data-id="<%= id %><%= type %>"  href="/explore/<%= id %><%= type %>" role="button">Edit</a>
    <a class="btn btn-default" id="btnDeleteFile" data-id="<%= id %><%= type %>" role="button">Delete</a>
</div>

