<a target="_blank" href="http://api.jquery.com/"><%= filename %>
    <img src="../uploads/<%= filename %>" alt="Smiley face" height="100" width="100">
</a>
<input type="submit" id="btnEditFile" value="edit">
<input type="submit" id="btnDeleteFile" value="delete">
