<div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">New Responsive File Format</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
            Logged in as {{email}}
          <a href="/logout"> Sign Out</a>
        </p>
        
        <ul class="nav">
          <li><a href="#">Explorer</a></li>
          <li><a href="#editor">Editor</a></li>
          <li><a href="#selector">Selector</a></li>
          <li><a href="#renderer">Renderer</a></li>
        </ul>
      </div>
    </div>
</div>
