<button class="btn btn-default btn-xs" id="btnGrayscaleImage" type="button">Grayscale</button>
<button class="btn btn-default btn-xs" id="btnRotateImage" type="button">Rotate</button>
<div id="container">
</div>