<div class="">
    <a type="submit" class="btn btn-primary" id="btnApply" data-id="<%= id %>" role="button">Apply</a>
    <a type="submit" class="btn btn-default" id="btnSelect" data-id="<%= id %>" href="/select/<%= id %>" role="button">Select</a>

    <input type="file" id="layer" name="layer" accept="image/*">

    <button type="submit" class="btn btn-default" id="btnAddLayer" data-id="<%= id %>"><span class="glyphicon glyphicon-plus"></span></button>
</div>
<div class="kinetic-container" id="container"></div>