<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">-</span>
            <input class="form-control"
                id="slider"
                type="range" min="0" max="10" step="1" value="5">
            <span class="input-group-addon">+</span>
        </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="input-group">
            <input class="form-control" 
                id="sizeX"
                type="number"
                min="0"
                max="100"
                step="1"
                value="100">
            <span class="input-group-addon">px</span>
        </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="input-group">
            <input class="form-control"
                id="sizeY"
                type="number"
                min="0"
                max="100"
                step="1"
                value="100">
            <span class="input-group-addon">px</span>
        </div>
    </div>
</div>