<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-inline">
            <a type="submit" class="btn btn-primary" id="btnApply" data-id="<%= id %>" data-width="<%= size.width %>" data-height="<%= size.height %>" role="button">Apply</a>
            <a type="submit" class="btn btn-default" id="btnSelect" data-id="<%= id %>" href="/select/<%= id %>" role="button">Select</a>
            <a type="submit" class="btn btn-danger" id="openSmartShape">
                Smart Shape
            </a>
        </div>
    </div>
</div>
<div class="kinetic-container" id="container"></div>