<button class="btn btn-default btn-xs" id="btnApply" type="button">Apply</button>
<button class="btn btn-default btn-xs" id="btnSelect" type="button">Select</button>
<button class="btn btn-default btn-xs" id="btnRender" type="button">Render</button>

<div id="container"></div>