<div class="panel panel-default">
    <div class="panel-heading">Layer Properties</div>
    <div class="panel-body">
        <div class="form-inline">
            <input class="form-control" id="resizeInputWidth" type="number" min=1 max="<%= initial_width %>" step=1 value="<%= current_width %>">
            <i class="fa fa-times fa-lg"></i>
            <input class="form-control" id="resizeInputHeight" type="number" min=1 max="<%= initial_height %>" step=1 value="<%= current_height %>">
        </div>

        <div class="checkbox">
            <label>
                <input id="keepratio" type="checkbox"> Keep Ratio
            </label>
        </div>

        <% if (current_layer !== "") { %>
        <div class="form-inline">
            <a class="btn btn-danger" id="btnDeleteLayer" data-id="<%= current_layer %>" role="button">
                Delete Layer
            </a>
        </div>
        <% if (type === "smart") { %>
        <div>
            <select class="selectpicker" id="chooseShape" title='Shape'>
                <option value="none" <% if (shape === "none") { %> selected <% } %>>Choose Shape</option>
                <option value="rectangle" <% if (shape === "rectangle") { %> selected <% } %>>Rectangle</option>
                <option value="square" <% if (shape === "square") { %> selected <% } %>>Square</option>
                <option value="triangle" <% if (shape === "triangle") { %> selected <% } %>>Triangle</option>
            </select>
        </div>
        <div>
            <select class="selectpicker" id="chooseGradient" title='Gradient'>
                <option value="none" <% if (gradient === "none") { %> selected <% } %>>Choose Gradient</option>
                <option value="linear" <% if (gradient === "linear") { %> selected <% } %>>Linear Gradient</option>
                <option value="radial" <% if (gradient === "radial") { %> selected <% } %>>Radial Gradient</option>
            </select>
        </div>
        <div>
            <select class="selectpicker" id="chooseBlending" title='Blending'>
                <option value="none">Choose Blending</option>
                <option value="blending1">blending1</option>
                <option value="blending2">blending2</option>
                <option value="blending3">blending3</option>
            </select>
        </div>
        <div>
            Opacity: 0<input type="range" id="chooseOpacity" min="0" max="10" value="<%= opacity*10 %>">1
        </div>
        <div>
            <input type="file" class="file-inputs" id="imageToCompose" data-filename-placement="inside" title="Upload image">
        </div>
        <% } %>
        <% } %>
    </div>
</div>

<script>
    $(document).ready(function(){$('input[type=file]').bootstrapFileInput();});
</script>
