<div class="container center_div">
    <form method="post">
        <div class="input-group input-group-lg">
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password">
        </div>
        <br>
        <input class="btn btn-primary btn-sm" type="submit" value="Sign up">
        <a href="/login">
            Already have an account?
            <span>Sign in</span>
        </a>
    </form>
</div>