<form class="navbar-form" method=post role="search">
    <div class="form-group">
        <input type="hidden" name="search_param" value="all" id="search_param">
        <input type="text" class="form-control " id="search" placeholder="What are you searching for?">
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li><a href="#">Mine</a></li>
            <li><a href="#">Others</a></li>
            <li class="divider"></li>
            <li><a href="#">SVG</a></li>
            <li><a href="#">PNG</a></li>
        </ul>
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>


