<div class="row" >
    <div id="devices" class="col-md-3" style="overflow-y:scroll;">
      <!--Sidebar content-->
    </div>
    <div id="device" class="col-md-9">
      <!--Body content-->
    </div>
</div>
