<span class="file-input btn btn-primary btn-file">
					Browse&hellip; <input type="file" multiple>
				</span>

<form action="" method=post enctype=multipart/form-data>
        <input type="file" id="file" name="file" accept="image/*">
        <input class="btn btn-default btn-file" type="submit" id="btnUploadFile" name="upload" value="Upload">
</form>
