<div>
    <input type="file" accept="image/*" class="file-inputs" id="uploadImage" name="file" data-filename-placement="inside" title="Upload image">
</div>
<script>
    $(document).ready(function(){$('input[type=file]').bootstrapFileInput();});
</script>